body {
  background: #ece7e7;
}

.rightSide {
  width: 100%;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  float: right;
  width: 50%;
}

.leftSide {
  width: 100%;
  text-align: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  float: left;
  width: 50%;
}